# Ignore specific files and directories in the root
.idea/
.git/
cloudvandana.iml

# Ignore entire subfolders
js_code/
java_code/
html_code/

# Ignore specific files and directories within nested subfolders
Java_Code/.idea/
Java_Code/out/
